a 
{
    color: white;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a :hover
{
    color:gray;
    text-decoration: underline
}

.Bars
{
    height: 47px;
    width: 1200px;
    background-color: rgb(92, 159, 137);
}

.Font_caption_HEAD
{
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: bold;
    color:black;
}

p.Font_caption_BODY
{
    font-family: 'Roboto';
    font-size: 30px;
    font-style: italic;
    color: white;
}

.bg 
{ 
    background: url(../IMGS/perro_blur.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}